#header {
  padding-top: rem(100px);
  padding-bottom: rem(160px);
  padding-left: rem(16px);
  padding-right: rem(16px);
  decoration: none;
  text-align: center;
  font-family: $font-family;
  letter-spacing: -0.05em;

  @include breakpoint-above-tablet {
    letter-spacing: -0.1em;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include breakpoint-above-desktop-small {
    padding: rem(100px);
    padding-bottom: rem(160px);
  }

  h1 {
    font-weight: $font-weight-bold;
    font-size: rem(36px);
    color: $color-black;
    margin: 0;
    line-height: 1;
    margin-bottom: 0.1em;

    @include breakpoint-above-tablet {
      font-size: rem(60px);
    }
  }

  h2 {
    font-weight: $font-weight-bold;
    font-size: rem(24px);
    color: $color-overlay;
    margin: 0;
    line-height: 1;

    @include breakpoint-above-tablet {
      font-size: rem(36px);
    }
  }
}

.main > div {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: rem(32px);
  row-gap: rem(64px);

  @include breakpoint-above-tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint-above-desktop-small {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.product {
  font-family: $font-family;
  position: relative;

  img {
    max-width: $full-opacity;
    border: 1px $color-border solid;
    border-radius: rem(8px);
    box-shadow: 0 2px 16px $color-border;
    object-position: center;
    object-fit: cover;
    aspect-ratio: 1;
  }
  .img {
    height: auto;
    width: auto;
    background: $color-overlay;
    overflow: hidden;
    border-radius: rem(8px);
  }

  div {
    display: flex;
    justify-content: space-between;

    div {
      flex-direction: column;
      justify-content: flex-start;
    }

    .review-btn {
      position: absolute;
      z-index: 999;
      margin: 0 auto;
      width: 55%;
      left: 0;
      right: 0;
      top: 37%;
      background-color: $color-white;
      border: none;
      padding: rem(18px) rem(26px);
      font-size: 20px;
      font-weight: $font-weight-bolder;
      box-shadow: 0 10px 16px $color-border;
      border-radius: 30px;

      &:hover {
        cursor: pointer;
      }

      @include respond(tab-land) {
        font-size: 14px;
        width: 65%;
        top: 33%;
      }
    }

    .fa-star {
      color: $color-black;
      padding: 2px;

      &:hover {
        cursor: pointer;
      }
    }
    .stars {
      position: absolute;
      margin: 0 auto;
      width: 56%;
      left: 0;
      right: 0;
      top: 39%;
      border: none;
      padding-left: rem(26px);
      font-size: rem(25px);
      font-weight: $font-weight-bolder;

      @include respond(tab-land) {
        font-size: 20px;
        top: 34%;
        width: 69%;
      }

      @include respond(tab-port) {
        width: 57%;
        top: 38%;
      }
    }

    .move-stars {
      position: absolute;
      margin: 0 auto;
      width: 56%;
      left: 0;
      right: 0;
      top: 10%;
      border: none;
      padding-left: rem(26px);
      font-size: rem(25px);
      font-weight: $font-weight-bolder;

      @include respond(tab-land) {
        font-size: 20px;
        width: 69%;
      }

      @include respond(tab-port) {
        width: 57%;
      }
    }

    .stars .fa-star {
      opacity: 90%;
    }
    .stars:hover .fa-star {
      opacity: $full-opacity;
    }
    .stars .fa-star:hover {
      opacity: $full-opacity;
    }
    .stars .fa-star:hover ~ .fa-star {
      opacity: $half-opacity;
    }

    .clicked {
      color: $color-white;
      opacity: $full-opacity;
      outline: none;
    }

    .cancel-btn {
      position: absolute;
      z-index: 999;
      margin: 0 auto;
      width: 30%;
      left: 0;
      right: 0;
      top: 60%;
      background-color: $color-white;
      border: none;
      padding: rem(13px) rem(20px);
      font-size: 16px;
      font-weight: $font-weight-bold;
      box-shadow: 0 10px 16px $color-border;
      border-radius: 30px;

      &:hover {
        cursor: pointer;
      }
      @include respond(tab-land) {
        width: 40%;
      }
    }

    .submit-btn {
      position: absolute;
      z-index: 999;
      margin: 0 auto;
      width: 35%;
      left: 0;
      right: 0;
      top: 70%;
      background-color: $color-white;
      border: none;
      padding: rem(12px) rem(20px);
      font-size: 18px;
      font-weight: $font-weight-bold;
      box-shadow: 0 10px 16px $color-border;
      border-radius: 30px;

      @include respond(tab-land) {
        width: 50%;
        top: 60%;
      }
    }

    .float-container {
      border: solid 1px #ccc;
      padding: 0 8px;
    }
    .review {
      font-size: 16px;
      padding: 38px 0 80px 17px;
      box-shadow: 0 10px 16px $color-border;
      resize: none;
      position: absolute;
      width: 90%;
      margin: 0 auto;
      top: 21%;
      right: 0;
      left: 0;
      z-index: 99;

      overflow: hidden;
      border-radius: 10px;
      border: none;

      @include respond(tab-land) {
        padding: 38px 7px 40px 10px;
        font-size: 14px;
      }
    }

    ::placeholder {
      font-weight: 500;
      color: $color-black;
    }

    .question {
      font-size: 16px;
      position: absolute;
      width: 100%;
      margin: 0 auto;
      top: 23%;
      left: 0;
      right: 0;
      z-index: 999;
      padding-top: 5px;
      padding-left: 30px;
      font-weight: $font-weight-bold;

      @include respond(tab-land) {
        font-size: 13px;
        padding-left: 15px;
      }
      @include respond(tab-port) {
        padding-left: 20px;
      }
    }
    .count {
      position: absolute;
      width: 95%;
      margin: 0 auto;
      top: 55%;
      left: 0;
      right: 0;
      font-size: 13px;
      font-weight: $font-weight-bold;
      border: none;
      background: transparent;

      @include respond(tab-land) {
        top: 53%;
      }
      @include respond(tab-port) {
        top: 48%;
      }
    }
    .count-text {
      position: absolute;
      width: 81%;
      margin: 0 auto;
      top: 55%;
      left: 0;
      right: 0;
      font-weight: $font-weight-bold;

      @include respond(tab-land) {
        top: 53.1%;
        width: 75%;
      }

      @include respond(tab-port) {
        top: 48.1%;
      }
    }

    h3 {
      font-weight: $font-weight-bold;
      color: $color-black;
      font-size: rem(18px);
      letter-spacing: -0.05em;
      margin-bottom: 0;
      line-height: 1.1;
      margin-top: 1.3em;
      margin-bottom: 0.3em;
    }
    p {
      font-weight: normal;
      margin: 0;
      color: $color-black;
      font-size: rem(14px);
    }

    .price {
      font-weight: $font-weight-bold;
      color: $color-black;
      font-size: rem(48px);
      letter-spacing: -0.05em;
      margin-top: rem(16px);
      text-align: right;
      padding-right: 0.05em;
      margin-left: rem(16px);
    }
  }
}

.hide {
  display: none;
}

.visible {
  visibility: hidden;
}
.disabled {
  pointer-events: none;
}
.disabled-btn:hover {
  cursor: not-allowed;
}
.enabled-btn:hover {
  cursor: pointer;
}
